torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
numpy<2.0
transformers==4.36.2
tokenizers==0.15.0
safetensors
python-box
PyYAML
pandas
scikit-learn
Pillow
streamlit
streamlit-option-menu
opencv-python-headless
mtcnn
tensorflow==2.15.0