torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
numpy<2.0
transformers==4.36.2
tokenizers==0.15.0
datasets>=2.14.5
accelerate==0.25.0
safetensors
dvc[s3]
python-box
PyYAML
ensure
pandas
scikit-learn
Pillow
tqdm
pyarrow
streamlit
streamlit-option-menu
opencv-python