# For PyTorch with CUDA 11.8 - MUST be installed with the extra index URL
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0

# Pin NumPy to a version compatible with Torch 2.1.0
numpy<2.0

# Hugging Face
transformers
datasets>=2.14.5
evaluate
accelerate>=0.27

# MLOps and Utilities
mlflow
dvc[s3] # Assuming you might use S3 with DVC for AWS
python-box
PyYAML
ensure
pandas
scikit-learn
Pillow
tqdm
imblearn

# Frontend and Real-time Processing
streamlit
opencv-python
mtcnn

# AWS Deployment
boto3
